.loader {
  animation: spin 2s linear infinite;
  border: 5px solid rgba(255, 237, 204, 0.2);
  border-top: 5px solid white;
  border-radius: 50%;
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
